{% extends 'admin/auth/componets/base.html' %}
{% block content %}
  <!-- End Navbar -->
  <div class="wrapper wrapper-full-page">
    <div class="page-header lock-page header-filter" style="background-image: url('{{url_for('static', filename='admin/assets/shared/img/lock.jpg')}}');">
      <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
      <div class="container">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <div class="card card-profile text-center card-hidden">
              <div class="card-header ">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="{{avatar}}">
                  </a>
                </div>
              </div>
              <div class="card-body ">
                <!-- <h4 class="card-title">{{user['first_name'] + ' ' + user['last_name']}}</h4> -->
                <form id="lockForm" method="POST" action="{{url_for('lock')}}" >
                  <div class="form-group">
                      <label for="lock" class="bmd-label-floating">Enter Password</label>
                      <input type="password" name="password" class="form-control" id="lock" required>
                    </div>
                </form>
                
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" form="lockForm" class="btn btn-rose btn-round">Unlock</button>
              </div>
            </div>
          </div>
        </div>
      </div>  
  {% endblock %}