b{
    font-weight: 900;
}

.form-check .form-check-input {
    opacity: 1;
    height: inherit;
    width: inherit;
    overflow: visible;
}
#currentStatusBody th i {
    color: white;
    padding: 5px;
}
#currentStatusBody .table>thead>tr>th{
    padding: 0;
}
.bmd-form-group .bmd-label-floating.label-position{
    top: -15px !important;
}
.bmd-form-group.is-focused .bmd-label-floating.label-position, .form-group.bmd-form-group.is-filled .bmd-label-floating.label-position{
    top: -30px !important;
}

.form-btn-position{
    display: inline;
    width: auto;
}
.form-btn-position .btn{
    margin-top: calc(100% - 27px);
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
    color: #9c27b0;
}

.material-icons.rotate{
    transform: rotate(180deg);
}

.dash-cards .card-header{
    border-bottom: solid thin #ddd;
    padding-bottom: 10px;
}

.dash-cards i.material-icons, .dash-cards i.material-icons-sharp, .dash-cards i.material-icons-outlined{
    font-size: 30px;
}
.latest-posts-view .panel-icon i{
    font-size: 48px;
}

.newsFeed .card-icon .svg {
    width: 60px;
}

hr.seperator {
    width: 55px;
    margin-left: 43px;
    transform: rotate(90deg);
    position: absolute;
    top: 15px;
    height: 1.5px;
}

h4.navbar {
    padding-left: 20px;
    font-weight: 600;
    color: white;
    background-color: #ff9800 !important;
}

.dash-cards td {
    border: none;
}

.form-group span.input-group-text {
    display: inline;
    padding: 0 15px;
}

.form-group div.typeSelection {
    display: inline-block;
}

.card .card-header.card-header-text {
    display: inline-block;
    position: relative;
}
.fileinput-preview.fileinput-exists.thumbnail.img-raised {
    max-width: 70%;
    margin: 10px;
}

#quickPostSubmit i, #quickAddSubmit i {
    font-size: 24px;
}
.quickPost_attachment_inputbtns {
    display: inline-flex;
    color: #fff;
}

.bootstrap-tagsinput{
    display: block;
}

button#quickPostSubmit, button#quickAddSubmit {
    padding: 0;
    float: right;
    top: 10px;
}

.dash-cards h4.card-title {
    display: inline-block;
}

div#quickPostAttachment {
    display: inherit;
}

#quickAdd .fileinput.text-center.fileinput-exists, form#quickAdd .fileinput.fileinput-new.text-center {
    width: 100%;
}

#quickPostAttachment p {
    font-size: small;
    margin-bottom: 0;
}

.newsFeed .card-icon .svg{
    filter: invert(1) sepia(0) saturate(5) hue-rotate(0deg);
}

.latest-posts .card-header.card-header-image {
    background-image: url(https://loremflickr.com/320/240/african);
    width: 100%;
    height: 200px;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#blog-post_table table.table-striped th .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 150px;
}

div.icon-link-size{
    display: inline-block;
    width: 63px;
    height: 66px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    padding: 0;
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(44, 43, 43, 0.14), 0 7px 10px -5px rgba(233,30,99,.4);
   
}
.btn.icon-link-size a i.material-icons{
    font-size: 36px;
}

.newPostForm .textbox, .newPostForm .formswitches{
    display: block;
    float: left;
}
.newPostForm hr {
    margin: 0;
}

.panel-header.panel-header-rose.panel-header-icon {
    TEXT-ALIGN: center;
    /* display: flex; */
}

#addPostTitle {
    width: 90%;
    min-height: 62px;
    border: none;
    color: #000;
    text-align: left;
}

#addPostTitle span.placeholder, #addPostTitle input[name="posttitle"]{
    position: absolute;
    bottom: 0;
}
#addPostTitle input[name="posttitle"]{
    display: inline-block;
    width: 100%;    
}
.newPostForm .panel-body {
    min-height: 50vh;
}
.newPostForm .panel-body #contentbox {
    width: 100%;
    min-height: 40vh;
    font-size: 14px;
}
.toolbar{
    background-color: #fff;
    width: 100%;
}

.toolbar .toolsholder {
    margin: 5px 0px;
    display: inline-block;
}

.toolbar .tools{
    display: inline-block;
    border: #e1bee7 solid thin;
    padding: 5px;
    position: relative;
    margin-top: 5px;
    width: 29px;
}

.toolsholder .tools i{
    vertical-align: middle;
}

.toolbar .tools.active{
    background: #e1bee7;
}

.toolbar .tools i.fa{
    font-size: 12px
}

.toolbar .tools .material-icons{
    font-size: 20px;
}

.panel.editor .panel-header .panel-icon{
    box-shadow: none;
}

.tools .font-color, .tools .editorInputs input, .tools .editorInputs .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    display: none;
}

.tools.active .editorInputs .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
     display: block;
     position: absolute;
     left: 0;
     z-index: 50000000000000;
}

.tools.active, .tools:hover, .tools:active{
    background-color: #e1bee7;
}

.dropdown-menu.show{
    min-width: 100px;
    max-height: none !important;
}

button.btn.dropdown-toggle.bs-placeholder.btn-light, button.btn.dropdown-toggle.btn-light {
    width: 138px;
    float: left;
    color: white;
    font-size: 9px;
}

.inner.show{
    max-height: none !important;
}

span.text{
    margin: auto;
}

.formswitches .panel-header.panel-header-rose.panel-header-ison {
    z-index: 2 !important;
}

.formswitches .panel-header{
    display: inline-flex;
    justify-content: center;
}

.formswitches .panel-body select#catSelect {
    width: 100% !important;
    left: 0;
}

.formswitches .panel-body .bootstrap-select.show-tick .dropdown-menu li a span.text{
    margin: auto;
}

.formswitches .panel-body .bootstrap-select.form-control:not([class*=col-]), .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100%;
}

#sliderSwitch.togglebutton {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.togglebutton label {
    margin: 0 50%;
    line-height: 0;
}

div#newPostFeature {
    margin: auto;
}

.formswitches .panel-body .input-group .row {
    margin: auto;
}

body.page-post_edit > div.modal-backdrop.fade.show{
    z-index: 0;
}
.modal-content{
    color: black;
}
/*Show/Hide contenteditable placeholder*/
[contenteditable=true]:empty:before{
    content: attr(data-placeholder);
    display: block; /* For Firefox */
  }
  
/*===================================Uploads Gallery========================================*/
.ftco-animate {
    opacity: 0;
    visibility: hidden; 
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.ftco-animate .form-check {
    position: absolute;
    left: 10px;
    z-index: 150;
}

.ftco-animate .form-check .form-check-sign .check{
    border: thin solid;
    background: grey;
}

.form-check .form-check-label .circle {
    border: 1px solid rgba(0,0,0,.54);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    top: -5px;
    left: -7px;
    background: white;
}

.form-check .form-check-label .circle:before {
    display: block;
    position: absolute;
    left: -1px;
    content: "";
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    top: -1px;
    transform: scale3d(2.3,2.3,1);
}

.form-check .form-check-label .circle .check {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #9c27b0;
    transform: scale3d(0,0,0);
}

a.photography-entry.img.image-popup.d-flex.justify-content-center.align-items-center {
    background-size: cover;
    background-position: center;
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      visibility: hidden;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: none;
      transform: none;
    }
  }

@keyframes fadeInUp {
    from {
      opacity: 0;
      visibility: hidden;
      /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
    }
  
    to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: none;
      transform: none;
    }
  }

.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .no-gutters > .col,
    .no-gutters > [class*="col-"] {
      padding-right: 0;
      padding-left: 0; 
}
.photography-entry {
    height: 280px;
    display: block;
    z-index: 0;
    position: relative; 
}
    .photography-entry .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: #000000;
      opacity: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; 
}
      @media (max-width: 767.98px) {
        .photography-entry .overlay {
          opacity: .3; } }
    .photography-entry .text {
      opacity: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .photography-entry .text h3 {
        color: #fff;
        font-size: 20px; }
      .photography-entry .text span.tag {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(255, 255, 255, 0.8); }
      @media (max-width: 767.98px) {
        .photography-entry .text {
          opacity: 1; } }
    .photography-entry:hover .overlay, .photography-entry:focus .overlay {
      opacity: .7; }
    .photography-entry:hover .text, .photography-entry:focus .text {
      opacity: 1; 
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important; 
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; 
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; 
}

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; 
}

.text-center {
    text-align: center !important; 
    max-width: 100%;
}

#addPostTitle img, #contentbox img {
    max-width: 100%;
    width: 25%;
}



@media screen and (min-width: 768px){
    .latest-posts {
        margin-left: 78px;
    }
    .latest-posts .col-md-4 {
        top: -90px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1300px){
    .formswitches .panel-header .button-group button {
        width: 100%;
    }

}

@media screen and (min-width: 1301px){
    
}

/*Reverse Gradients*/
.purple-gradient-reverse {
    background: -webkit-linear-gradient(50deg, #7873f5, #ff6ec4 ) !important;
    background: -o-linear-gradient(50deg, #7873f5, #ff6ec4 ) !important;
    background: linear-gradient(40deg, #7873f5, #ff6ec4 ) !important; }