{% extends 'admin/shared/head.html' %}
{% block base %}
<body class="{{bodyClass}}">
        <!-- Extra details for Live View on GitHub Pages -->
        <!-- Google Tag Manager (noscript) -->
        <!-- End Google Tag Manager (noscript) -->
<div class="wrapper ">
    <!--Include the sidebar-->
    {% include 'admin/dash/componets/sidebar.html' %}
    <div class="main-panel">
        <!--Include the navbar-->
        {% include 'admin/dash/componets/navbar.html' %}
        <div class="content">
            <div class="content">
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>  
            </div>
        </div>
        <!--Include the footer-->
        {% include '/admin/shared/footer.html' %}
    </div>
</div>

 <!--   Core JS Files   -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/core/jquery.min.js')}}"></script>
 <script src="{{ url_for('static', filename='admin/assets/shared/js/core/popper.min.js')}}"></script>
 <script src="{{ url_for('static', filename='admin/assets/shared/js/core/bootstrap-material-design.min.js')}}"></script>
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/perfect-scrollbar.jquery.min.js')}}"></script>
 <!-- Plugin for the momentJs  -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/moment.min.js')}}"></script>
 <!--  Plugin for Sweet Alert -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.8.5/dist/sweetalert2.all.min.js"></script>
 <!-- Forms Validations Plugin -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/jquery.validate.min.js')}}"></script>
 <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/jquery.bootstrap-wizard.js')}}"></script>
 <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/bootstrap-selectpicker.js')}}"></script>
 <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/bootstrap-datetimepicker.min.js')}}"></script>
 <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/jquery.dataTables.min.js')}}"></script>
 <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/bootstrap-tagsinput.js')}}"></script>
 <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/jasny-bootstrap.min.js')}}"></script>
 <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/fullcalendar.min.js')}}"></script>
 <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <!-- Select2 plugin for select boxes-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
 <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/nouislider.min.js')}}"></script>
 <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
 <!-- Library for adding dinamically elements -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/arrive.min.js')}}"></script>
 <!--  Google Maps Plugin    -->
 
 <!-- Place this tag in your head or just before your close body tag. -->
 <!-- Chartist JS -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/chartist.min.js')}}"></script>
 <!--  Notifications Plugin    -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/plugins/bootstrap-notify.js')}}"></script>
 <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
 <script src="{{ url_for('static', filename='admin/assets/shared/js/material-dashboard.min.js')}}?v=2.1.0" type="text/javascript"></script>
 <!-- Material Dashboard DEMO methods, don't include it in your project! -->
 <script src="{{ url_for('static', filename='admin/assets/shared/demo/demo.js')}}"></script>
 <!-- Custom JS-->
 <script src="{{url_for('static', filename='admin/assets/dash/js/actions.js')}}"></script>
 <script src="{{url_for('static', filename='admin/assets/dash/js/ajax.js')}}"></script>
</body>
</html>
{% endblock base %}