{% extends 'admin/dash/componets/base.html' %}
  {% block content %}
          <h4 class="navbar purple-gradient-reverse">Latest Posts</h4>
          <div class="row latest-posts-view">
           
                        {% if posts %}
                    {% for post in posts %}
                      <div class="col-md-4 recentposts"  data-post-id="{{ post.post.id }}">
                          <div class="card card-product" data-count="0">
                            <div class="card-header card-header-image" data-header-animation="true">
                              <a href="{{url_for('post', post_id=post.post['id'])}}">
                                <img class="img" src="{{post.img}}">
                              </a>
                            </div>
                            <div class="card-body">
                              <div class="card-actions text-center">
                                <button type="button" class="btn btn-danger btn-link fix-broken-card">
                                  <i class="material-icons">build</i> Fix Header!
                                </button>
                                <button type="button" id="" class="btn btn-default btn-link teal-lighten-2-text view_post" rel="tooltip" data-placement="bottom" title="View post" data-original-title="View">
                                  <i class="material-icons">art_track</i>
                                </button>
                                <button type="button" id="" class="btn btn-success btn-link lime-accent-4-text edit_post" rel="tooltip" data-placement="bottom" title="Edit Post" data-original-title="Edit">
                                  <i class="material-icons">edit</i>
                                </button>
                                <button type="button" id="" class="btn btn-danger btn-link red-accent-3-text delete_post" rel="tooltip" data-placement="bottom" title="Delete Post" data-original-title="Remove">
                                  <i class="material-icons">close</i>
                                </button>
                              </div>
                              <h4 class="card-title">
                                <a href=" {{url_for('post', post_id=post.post['id'])}}">{{post.post.title|striptags}}</a>
                              </h4>
                              <div class="card-description">
                               {{post.post.content|striptags|truncate(255, False, '...', 0)}}
                              </div>
                            </div>
                            <div class="card-footer">
                              <div class="price">
                                <h4>{{post.pubdate}}</h4>
                              </div>
                              <div class="stats">
                                <p class="card-category"><i class="material-icons">by</i> {{post.author.first_name}} {{post.author.last_name}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% endif %}                        
                     
          </div>
          <div class="row">
            <!-- Current Status of the Site-->
              <div class="col-md-4">
                  <div id="currentStatus" class="card dash-cards">
                      <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                          <i class="material-icons rotate">touch_app</i>
                        </div>
                        <hr class="seperator">
                        <h4 class="card-title">Right Now</h4>
                      </div>
                      <div id=currentStatusBody class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class="text-regular">
                                <tr>
                                  <th>
                                      <i class="material-icons-outlined cyan darken-1">receipt</i>Content
                                  </th>
                                  <th>
                                    Discussion
                                  </th>
                                </tr>
                                <tr>
                                  <td><span><b>{{counts.post}}</b></span> Posts</td>
                                  <td><span><b>20</b></span> Comments</td>
                                </tr>
                                <tr>
                                    <td><span><b>{{counts.page}}</b></span> Pages</td>
                                    <td><span><b>17</b></span> Approved</td>
                                </tr>
                                <tr>
                                    <td><span><b>{{counts.cat}}</b></span> Categories</td>     
                                    <td><span><b>2</b></span> Pending</td>
                                </tr>
                                <tr>
                                    <td><span><b>{{counts.tag}}</b><span> Tags</td>
                                        
                                    <td></span><b>1</b></span> Spam</td>
                                </tr>
                              </thead>
                            </table>

                          </div>
                      </div>
                  </div>
              </div>
              <!--Quick Add Post-->
              <div class="col-md-5">
                  <div class="card dash-cards">
                    <div class="card-header card-header-rose card-header-text">
                      <div class="card-icon">
                        <i class="material-icons">flash_on</i>
                      </div>
                      <hr class="seperator">
                      <h4 class="card-title">Quick Post</h4>
                      <button id="quickPostSubmit" class="btn btn-primary pink darken-1" type="submit" form="quickPost"> <i class="material-icons-outlined">note_add</i></button>
                     
                    </div>
                    <div class="card-body ">
                      <form id="quickPost" class="form" action="" method="POST">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_1</i>
                            </span>
                          </div>
                          <label for="postType">Set the post type.</label>   
                          <select id="postType" name="postType" class="form-control selectpicker" data-style="btn btn-link" required>
                            <option>Blog</option>
                            <option>Event</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_2</i>
                            </span>
                          </div>
                          <input type="text" name='title' class="form-control" placeholder="Enter the title" required>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_3</i>
                            </span>
                          </div>
                          <textarea class="form-control" name="content" id="quickPostText" placeholder="Enter your content" required></textarea>
                        </div>
                        <div class="input-group ">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_4</i>
                            </span>
                          </div>
                          <div class="bootstrap-tagsinput">
                              <input type="text" name="tags" value="Ghana,Nigeria,Guinea,Senegal" class="form-control tagsinput" data-role="tagsinput" data-color="info" placeholder="Enter tags..">
                          </div>                          
                        </div>
                        <div id="quickPostAttachment" class="fileinput fileinput-new text-center " data-provides="fileinput">
                          <p>Add a post image.</p>
                          <div class="fileinput-preview thumbnail img-raised">
                            <img src="https://loremflickr.com/320/240/blackpeople"/>
                          </div>
                          <div class="quickPost_attachment_inputbtns">
                            <a id="attachmentBtn" href="#" class="modal_link btn btn-raised btn-round btn-default btn-file pink darken-1">
                                <span class="fileinput-new"><i class="material-icons-outlined">insert_photo</i></span>
                                <span class="fileinput-exists"><i class="material-icons-outlined">swap_vertical_circle</i></span>
                                <input type="text" name="featureImg"  value="" hidden />
                            </a>
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="material-icons-outlined">remove_circle_outline</i></a>
                          </div>
                          {% include '/admin/dash/componets/imagebrowser.html' %}
                        </div>
                        <div class="input-group animated flipInX">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">filter_5</i>
                              </span>
                            </div>
                            <input id="eventDate" type="text" name="eventDate" class="form-control datetimepicker" value="" placeholder="select event date and/or time">
                          </div>                    
                      </form>  
                    </div>
                  </div>
                </div>
                <!-- Quick Upload Media-->
                <div class="col-md-3">
                    <div class="card dash-cards">
                      <div class="card-header card-header-warning card-header-text">
                        <div class="card-icon">
                          <i class="material-icons-sharp">collections</i>
                        </div>
                        <hr class="seperator"/>
                        <h4 class="card-title">Quick Add</h4>
                        <button id="quickAddSubmit" class="btn btn-warning" type="submit" form="quickAdd"> <i class="material-icons-outlined">add_a_photo</i></button>
                      </div>
                      <div class="card-body ">                          
                        <h4 class="title">Add to media library</h4>
                        <form id="quickAdd" method="POST" action="" enctype="multipart/form-data">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                          <div class="fileinput-new thumbnail">
                            <img src="https://loremflickr.com/320/240/african" alt="image holder">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail"></div>
                          <div>
                            <span class="btn btn-warning btn-round btn-file">
                                <span class="fileinput-new"><i class="material-icons-outlined">insert_photo</i></span>
                                <span class="fileinput-exists"><i class="material-icons-outlined">swap_vertical_circle</i></span>
                              <input type="file" name="attachment" required />
                            </span>
                            <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="material-icons-outlined">remove_circle_outline</i></a>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
          </div>
          
                      
          <div class="row">
              <div class="col align-self-center">
                  {% if feed %}
                  <div class="card newsFeed">
                      <div class="card-header card-header-icon">
                        <div class="card-icon yellow accent-3">
                          <img class="svg" src="{{url_for('static', filename='admin/assets/shared/img/icons8-python.svg')}}"></i>
                        </div>
                        <h4 class="card-title">Python Foundation News</h4>
                      </div>
                      <div class="card-body" data-text=>
                      
                       
                          {% for item in feed %} 
                             {% if loop.index < 5 %}
                         <a href="{{ item.url }}">
                        <article>
                            <h4 class="card-title">{{ item.title }}</h4>
                            <p>{{item.content|striptags|truncate(255)}}</p>
                            <span>...</span>
                        </article>
                      </a> 
                       {% endif %} 
                         {% endfor %} 
                     {% endif %}   
                      </div>
                  </div>
              </div>  
          </div>
                      {% endblock %}
             
              