{% extends 'admin/dash/componets/base.html' %}
  {% block content %}
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Update User Profile-->
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title">Edit Profile -
                    <small class="category">Complete your profile</small>
                  </h4>
                </div>
                <div id="userProfile" class="card-body">
                  <form id="updateProfile" method="POST" action="{{url_for('updateProfile', user_id=user['id'] )}}" enctype="multipart/form-data" data-form-user="{{user['id']}}">
                    <div id="profileContainer">
                        <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                            <label class="bmd-label-floating label-position">Role {{uerserRole}} (disabled)</label>
                            
                            <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                            <label class="bmd-label-floating label-position">Username <br> {{user['username']}}</label>
                            <input type="text" name="username" class="form-control editable">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                            <label class="bmd-label-floating label-position">Email address <br> {{ user['email']}}</label>
                            <input type="email" name="email" class="form-control editable">
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            <label class="bmd-label-floating">Fist Name {{ user['first_name'] }}</label>
                            <input type="text" name="fname" class="form-control editable">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label class="bmd-label-floating">Last Name {{user['last_name']}} </label>
                            <input type="text" name="lname" class="form-control editable">
                            </div>
                        </div>
                        </div>
                        <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label class="bmd-label-floating">Adress</label>
                            <input type="text" class="form-control">
                            </div>
                        </div>
                        </div> -->
                        <!-- <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                            <label class="bmd-label-floating">City</label>
                            <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                            <label class="bmd-label-floating">Country</label>
                            <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                            <label class="bmd-label-floating">Postal Code</label>
                            <input type="text" class="form-control">
                            </div>
                        </div>
                        </div> -->
                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Bio</label>
                            <div class="form-group">
                                <label class="bmd-label-floating"> {{userBio}} </label>
                                <textarea class="form-control editable" name="bio" rows="5"></textarea>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <label class="bmd-label-floating">New Password</label>
                                <input type="password" class="form-control editable" name="pass">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                <label class="bmd-label-floating">Confirm Password</label>
                                <input type="password" class="form-control editable" name="confirm">
                                </div>
                            </div>
                        </div>
                      </div> 
                        <div class="row">
                            <div class="col-md-3 offset-4 form-btn-position">
                                    <button type="submit" form="updateProfile" class="btn btn-rose pull-right">Update Profile</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>                       
                  </form>
                </div>
              </div>
            </div>
            
            <!--Update Avatar-->

            <div class="col-md-4">
              <div class="card card-profile user-avatar">
                <div id ="user-avatar" class="card-header card-header-warning card-header-text">
                  <div id="avatar-card" class="card-avatar">
                    <a href="url_for(/team, id = user.id">
                      <img class="img" src="{{avatar}}" />
                    </a>
                  </div>         
                </div>
                <div id="avatar_update_body" class="card-body">
                  <h4>Update Your Avatar</h4>
                  <form id="updateAvatar" method="POST" action="{{url_for('update_avatar', user_id=user['id'])}}" enctype="multipart/form-data" data-form-user="{{user['id']}}"> 
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                        <div if="btnholder">
                          <span id="imgChgbtns" class="btn btn-warning btn-round btn-file">
                              <span class="fileinput-new"><i class="material-icons-outlined">add_a_photo</i></span>
                              <span class="fileinput-exists"><i class="material-icons-outlined">swap_vertical_circle</i></span>
                            <input type="file" name="attachment" required />
                          </span>
                          <a href="#" title="Remove File" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput" data-toggle="tooltip" data-placement="bottom"><i class="material-icons-outlined">remove_circle_outline</i></a>
                          <button id="updateAvatarSubmit" type="submit" form="updateAvatar" title="Update your avatar" data-toggle="tooltip" data-placement="bottom" class="btn btn-info btn-round fileinput-exists" type="submit" form="quickAdd"> <i class="material-icons-outlined">cloud_upload</i></button>
                        </div>
                    </div>
                    
                  <!--End Form-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
      <!-- <div class="col-md-3 col-sm-4">
          <h4 class="title">Avatar</h4>
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-new thumbnail img-circle">
              <img src="{{avatar}}" alt="...">
              </div>
              <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
              <div>
              <span class="btn btn-round btn-rose btn-file">
                  <span class="fileinput-new">Add Photo</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="avatar" class=" form-control editable" />
              </span>
              <br />
              <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
          </div>
      </div> -->
      