<div class="col-md-3">
    <h2>Recent Post</h2>
    <div class="f-blog">
        <a href="blog.html" class="blog-img" style="background-image: url(images/blog-1.jpg);">
        </a>
        <div class="desc">
            <h3><a href="blog.html">Be a designer</a></h3>
            <p class="admin"><span>25 March 2018</span></p>
        </div>
    </div>
    <div class="f-blog">
        <a href="blog.html" class="blog-img" style="background-image: url(images/blog-2.jpg);">
        </a>
        <div class="desc">
            <h3><a href="blog.html">How to build website</a></h3>
            <p class="admin"><span>24 March 2018</span></p>
        </div>
    </div>
    <div class="f-blog">
        <a href="blog.html" class="blog-img" style="background-image: url(images/blog-3.jpg);">
        </a>
        <div class="desc">
            <h3><a href="blog.html">Create website</a></h3>
            <p class="admin"><span>23 March 2018</span></p>
        </div>
    </div>
</div>