{% if footerPosts %}
<div class="col-md-3">
    <h2>Recent Post</h2>
    {% for post in footerPosts %}
    <div class="f-blog">
        <a href="{{url_for('post', post_id=post.post['id'])}}" class="blog-img" style="background-image: url({{post.meta}});">
        </a>
        <div class="desc">
            <h3><a href="{{url_for('post', post_id=post.post['id'])}}">{{post.post.title|striptags}}</a></h3>
            <p class="admin"><span>{{post.post.date_created.strftime('%d %B %Y')}}</span></p>
        </div>
    </div>
      {% endfor %}  
</div>
{% endif %}