<div class="col-md-3">
    <h2>Tags</h2>
    <p class="tags">
        <span><a href="#"><i class="icon-tag"></i> Modeling</a></span>
        <span><a href="#"><i class="icon-tag"></i> Fashion</a></span>
        <span><a href="#"><i class="icon-tag"></i> Life</a></span>
        <span><a href="#"><i class="icon-tag"></i> Blog</a></span>
        <span><a href="#"><i class="icon-tag"></i> Workout</a></span>
        <span><a href="#"><i class="icon-tag"></i> Vacation</a></span>
        <span><a href="#"><i class="icon-tag"></i> Travel</a></span>
        <span><a href="#"><i class="icon-tag"></i> Exercise</a></span>
        <span><a href="#"><i class="icon-tag"></i> Health</a></span>
        <span><a href="#"><i class="icon-tag"></i> News</a></span>
        <span><a href="#"><i class="icon-tag"></i> Model</a></span>
        <span><a href="#"><i class="icon-tag"></i> Women</a></span>
        <span><a href="#"><i class="icon-tag"></i> Animals</a></span>
        <span><a href="#"><i class="icon-tag"></i> Nature</a></span>
        <span><a href="#"><i class="icon-tag"></i> Art</a></span>
        <span><a href="#"><i class="icon-tag"></i> Sea</a></span>
        <span><a href="#"><i class="icon-tag"></i> Ocean</a></span>
        <span><a href="#"><i class="icon-tag"></i> Office</a></span>
        <span><a href="#"><i class="icon-tag"></i> Home</a></span>
    </p>
</div>